<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title>Der Chor - <%= current_page.data.title %></title>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
</head>
<body>

<%= partial 'layouts/main_navigation' %>

<main>
  <h1></h1>
  <h1><%= current_page.data.name %></h1>
  <%= yield %>
</main>
</body>
</html>
