<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Der Chor - <%= current_page.data.title %></title>
  <%= stylesheet_link_tag "styles" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= partial 'layouts/main_navigation' %>

<main>
  <h1></h1>
  <h1><%= current_page.data.title %></h1>
  <div class="grid grid-large">
    <div class="grid-width-4 text-content">
      <%= yield %>
    </div>
    <div class="grid-width-8">
      <h2>Konzerte</h2>
      <div class="concert-list">
        <% concerts.reverse.each do |concert| %>
          <a href="<%= concert.url %>" class="concert-preview concert-preview-link shadow">
            <div class="concert-preview-image" style="background-image: url(<%= image_path concert.data.featured_image_path, resize: "176x176" %>)"></div>
            <div class="concert-preview-title">
              <small><%= concert.data.year %></small><br />
              <%= concert.data.name %>
            </div>
          </a>
        <% end %>
      </div>

      <h2>Anderes</h2>
      <div class="concert-list">
        <% posts.reverse.each do |post| %>
          <a href="<%= post.url %>" class="concert-preview concert-preview-link shadow">
            <div class="concert-preview-title"><small><%= post.data.date.strftime("%Y") %></small><br /><%= post.data.title %>></div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</main>

