<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Der Chor - <%= current_page.data.title %></title>
  <%= stylesheet_link_tag "styles" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= partial 'layouts/main_navigation' %>

<main class="p-2 md:flex max-w-6xl mx-auto">
  <div class="md:flex">
    <div class="md:w-5/12 pr-4">
      <h1>&nbsp;</h1>
    </div>
    <div class="md:w-7/12">
      <h1><%= current_page.data.title %></h1>
      <%= yield %>
      <h2>Konzerte</h2>
      <div class="concert-list">
        <% concerts.reverse.each do |concert| %>
          <div class="w-1/2 md:w-1/3 p-4 -ml-4">
            <a href="<%= concert.url %>" class="concert-preview concert-preview-link shadow h-full">
              <div class="concert-preview-image h-32" style="background-image: url(<%= image_path concert.data.featured_image_path, resize: "176x176" %>)"></div>
              <div class="concert-preview-title">
                <small><%= concert.data.year %></small><br />
                <%= concert.data.name %>
              </div>
            </a>
          </div>
        <% end %>
      </div>
      <h2>Anderes</h2>
      <div class="concert-list">
        <% posts.reverse.each do |post| %>
          <a href="<%= post.url %>" class="concert-preview concert-preview-link shadow">
            <div class="concert-preview-title"><small><%= post.data.date.strftime("%Y") %></small><br /><%= post.data.title %>></div>
          </a>
        <% end %>
      </div>
    </div>
