
<% unless current_page.data.images.empty? %>
<% images = current_page.data.images %>
  <div>
    <div id="<%= id || "gallery" %>" class="gallery">
      <!-- show  first four images -->
      <% images.first(4).each do |image| %>
        <%= link_to "", image, style: "background-image: url(#{image})" %>
      <% end %>
      <!-- show  placeholder for further images -->
      <% if images[4] %>
        <%= link_to "#{images.size - 4} weitere", image, style: "background-image: url(#{image})", class: "gallery-more" %>
      <% end %>
      <!-- hide remaining images -->
      <% images[5] && images[5..].each do |image| %>
        <%= link_to "", image, style: "display: hidden" %>
      <% end %>
    </div>
  </div>

  <link rel="stylesheet" href="/public/gallery/magnific-popup.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/public/gallery/jquery.magnific-popup.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    $('<%= id || "gallery" %>').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    type: 'image',
    gallery:{enabled:true}
  });
  </script>
<% end %>
