<% images = current_page.data.images %>

<% if images.present? && !images.empty? %>
  <div>
    <div id="<%= locals[:id] || "gallery" %>" class="gallery">
      <!-- show  first four images -->
      <% images.first(4).each do |image| %>
        <%= link_to "", image.image_path, style: "background-image: url('#{image.image_path}')" %>
      <% end %>
      <!-- show  placeholder for further images -->
      <% if images[4].present? %>
        <a href="<%= images[4].image_path %>" style="background-image: url('<%= images[4].image_path %>')">
          <div class="gallery-more"><%= "#{images.size - 4} weitere" %></div>
        </a>
      <% end %>
      <!-- hide remaining images -->
      <% images[5] && images[5..].each do |image| %>
        <%= link_to "", image.image_path, style: "display: hidden" %>
      <% end %>
    </div>
  </div>

  <link rel="stylesheet" href="/public/gallery/magnific-popup.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/public/gallery/jquery.magnific-popup.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    $('#<%= locals[:id] || "gallery" %>').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    type: 'image',
    gallery:{enabled:true}
  });
  </script>
<% end %>
